@font-face {
  font-family: logoFont;
  src: url('../assets/fonts/assa.otf')
}

.app{
  height: 100vh;
  max-width: 100vw;
  background-image: url('../assets/images/rainchild-background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content {
  /*max-width: 60%;*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  width: 60%;
  background-color: rgba(34, 33, 33, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}