@font-face {
  font-family: whatever;
  src: url('../assets/fonts/whatever_it_takes.ttf');
}

.home-page-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 7px 7px 7px;
}