.home-page-photo {
  display: flex;
  max-height: 80%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 0;
}

.home-page-photo img {
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}

