.Navbar {
  font-family: logoFont, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.Navbar a {
  margin: 10px;
}