.Navbar {
  font-family: logoFont, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  border-top: 2px solid rgb(14, 14, 7);
  border-bottom: 2px solid rgb(14, 14, 7);
}

.Navbar a {
  margin: 10px;
  margin-bottom: 20px;
}